*{
  margin:0;
  border:0;
  padding:0;
}

body,html{
  background-color: #cfcfcf;
}
.cardcontainer{
  width: 100%;
  height: 100%;
  display:block;
  position:relative;
  padding: 100px;
}
.card{
  height: 30vw;
  width: 16vw;
  display: inline-block;
  margin:2vw;
  border: solid 2px #888;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: -5px 10px 5px #88888888;
}

img {
    width: 100%;
    height: 100%;
    border-radius:5px;
    object-fit: cover;
}
