@import './base.css';
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom:20px;
}

#footer{
  position:absolute;
  bottom: 0;
  text-align: center;
}

#app{
  margin: 0 auto;
  padding: 20px 16px;
  display:flex;
  border-radius: 20px;
  max-width: 100%;
  width: calc(100% - 16px);
}

a,
.green {
  text-decoration: none;
  color: var(--gradient);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 768px) {
  #app{
    padding: 24px;
    width: auto;
  }
}

@media (min-width: 1024px) {
  #app{
    min-width: 60vh;
    padding: 32px;
  }
}
